<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Steven_ProductSpecialPrice::product_special_price" title="Product Special Price" module="Steven_ProductSpecialPrice"
             sortOrder="100"
             parent="Magento_Catalog::catalog" action="special_price/price/index"
             resource="Steven_ProductSpecialPrice::product_special_price"/>
    </menu>
</config>
